.tete{
    width: 100%;
    height: 500px;
}
.clir{
    width: 100%;
}
.fiel{
    text-align: center;
    align-items: center;
}

.header4 .text-container {
	margin-bottom: 200px;
}

.header4 .p-large {
	font-size: 23px;
	margin-bottom: 10px;
	color: #ffffff;
}

.header4 .ocean { 
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #ffffff;
}
.header4 {
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 250px;
	background:  linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ), url('./img/8.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    clip-path: ellipse(86% 80% at 50.44% 10%);
}

.backg{
    position: relative;
	background:  linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ), url('./img/9.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
