
body,
html {
    width: 100%;
	height: 100%;
}
.navbar {
	width: 100%;
}

.navbar .logo-image img {
    width: 150px;
	height: 24px;
}

.langage{
	font-size: 15px;
}
.langue{
	color: #ffffff;
	font-size: 20px;
}
.bout{
	color: #fff;
}
.header {
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 250px;
	background-image: url('../img/6.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header .text-container {
	margin-bottom: 200px;
}

.header .h1-large {
	font-size: 50px;
	color: #ffffff;
}

.header .p-large {
	font-size: 23px;
	margin-bottom: 10px;
	color: #ffffff;
}

.header .ocean { 
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #ffffff;
}

.header .wave {
	background: url('../img/wave.svg') repeat-x; 
	position: absolute;
	top: -190px;
	width: 6400px;
	height: 198px;
	animation: wave 7s cubic-bezier( 0.26, 0.35, 0.63, 0.57) infinite;
	transform: translate3d(0, 0, 0);
}

.header .wave:nth-of-type(2) {
	top: -190px;
	animation: wave 7s cubic-bezier( 0.16, 0.2, 0.3, 0.4) -.120s infinite, swell 3.6s ease -1.20s infinite;
	opacity: 1;
}
  
/* Wave Animation */
@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}

@keyframes swell {
	0%, 100% {
		transform: translate3d(0,-10px,0);
	}
	50% {
		transform: translate3d(0,20px,0);
	}
}

.video{
	padding-left: 2%;
	padding-right: 2%;
}
.titre1{
	text-align: center;
	padding-top: 9%; 
	padding-bottom: 2%;
	width: 100%;
}
.parallax {
	text-align: center;
	background:   linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ), url('../img/1.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30%;
	clip-path: ellipse(68% 80% at 60.44% 10%);
  }
  .arrondi{
	  background-color: #ffffff;
	  height: 40%;
	  width: 100%;
	  display: block;
	  box-sizing: border-box;
	  clip-path: ellipse(62% 80% at 60.44% 10%);
  }

  .titre2{
	  text-align: center;
	  position: relative;
	  color: #000;
	  margin-bottom: 3%;
	  z-index: 5;
  }
  .titre3{
	  color: #fff;
  }
  .tech{
	 position: relative;
	 z-index: 1;
	 padding-bottom: 7%;
  }

.news{
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
}
.parallax1 {
	background: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ), url('../img/5.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	clip-path: ellipse(70% 100% at 50% 0%);
  }
  .foren{
	  padding-right: 10%;
	  padding-left: 10%;
  }
  .foot{
	  padding-top: 5%;
	  width: 100%;
  }
  .lien{
	  color: #fff;
  }
  .menu{
	  color: #ffffff;
  }
 
  

	
  
  